.content1 {
  height: 500px;
  background-color: blueviolet;
}
.content2 {
  height: 500px;
  background-color: brown;
}
.content3 {
  height: 500px;
  background-color: aqua;
}
.content4 {
  height: 500px;
  background-color: yellow;
}
.content5 {
  height: 500px;
  background-color: red;
}
#sample {
  height: 500px;
  background-color: greenyellow;
}